.blog-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
   
  }
  .contact-container
  {
    background-color: azure;
  }
 .fo{
margin-top: 80px;
padding-bottom: -20px;

 }
 .fo h1{
    color: rgb(22, 23, 23);
 }
  .blog-image {
    flex: 1;
  }
  
  .blog-image img {
    width: 480px;
    height: 280px;
  }
  
  .blog-info {
    flex: 1;
    padding: 20px;
  }
  .blog-info p{
    color: black;
    font-size: 17px;
  }
  .blog-info h2{
padding-top: 40px;

  }
  
  @media screen and (min-width: 768px) {
    .blog-container {
      flex-direction: row;
      max-width: none;
    }
  
    .blog-info {
      padding: 20px;
      max-width: 50%;
    }
  }