.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.wow
{
  
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}
.loop
{
  background-image: url('https://source.unsplash.com/1600x900/?waterfront');
  height: 100vh;
  overflow: hidden;

}
.mi
{
  padding-top:200px;
  margin-left: 125px;
  /* color: #000; */
  padding: 20px 25px;
  /* border:#333333; */
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  

}
.mi button{
  position: absolute;
 align-items: center;

}


.pcontainer {
  margin-top: 800px;
    height: 635px;
    max-width: 500px;
    /* max-height: 700px; */
    margin: auto;
    padding: 20px;
    /* padding-top: 100px;   */
    background-color: #f6f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity:90%;
    display: flex; 
    flex-direction: column;
}

.vegetables {
  margin-bottom: 20px;  
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #fcfafa;
  border-radius: 5px;
  font-size: 16px;
}

.gen {
  border-collapse: collapse;
  width: 80%;
}

.header-cell {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}
