/* Home.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.body1 {
  background-image: url('https://source.unsplash.com/1600x900/?boathouse');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.foot{
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: auto;
  bottom: 0;
  width: 100%;
}

footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: auto;
  bottom: 0;
  width: 100%;
}
.home-social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-social-icons svg {
  cursor: pointer;
}

.home-social-icons svg:hover {
  color: #faf8f8; /* Change color on hover */
}

.headersd {
  background-color: #fbfcfd;
padding-left: 700px;
height: 50px;
padding-right: 700px;
  text-align: center;
  padding-bottom: 2px;
  margin-bottom: 100px;
  opacity:70%;
}

.intro23 {
  color: #f8f6f6;
  padding-bottom:200px ;
  text-align: center;
  margin: 20px;
}

.intro23 h1 {
  color: #fefefe;
  font-size:60px;
}
.hop
{
  padding-top: 40px;
}
.intro23 h4 {
  color: #fffefe;
  font-size:30px;

}

.intro23 p {
  color: #f8f6f6;
  max-width: 600px;
  margin: 0 auto;
  font-size:15px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.iconss {
  height: 100px; /* Adjust as needed */
  background-color: #ecf0f1;
}
